<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, ipsa quisquam? Ex voluptas dolores nulla impedit illum iusto obcaecati fugiat recusandae ipsam libero pariatur quas, beatae, laboriosam consequatur vitae quis?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, ipsa quisquam? Ex voluptas dolores nulla impedit illum iusto obcaecati fugiat recusandae ipsam libero pariatur quas, beatae, laboriosam consequatur vitae quis?
        </p>
    </section>
</body>
</html>